 
.headerContainer {
    overflow: hidden;
  background-image: url("/box11.jpg");
  background-size: cover;
  background-position: center;

  padding: 50px;
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100%;
}
.centralize {
    width: 67%;
    height: 100%;
    margin: auto;
 
}
.header {
    width: 100%;
    height: 11vh;
  
}
.logo {
    width: 10%;
    height: 100%;
    /* background-color: red; */
    float: left;
    padding: 24px 0;
    cursor: pointer;
}

.headerNav {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    float: right;
    padding: 30px 0;
}
.nav{
    display: inline-flex;
    /* float: left; */
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
    font-size: 13px;
    line-height: 13px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
   justify-content: space-between;
   margin-left: 5%;
   gap: 2em;
}
 .nav:hover{
    text-decoration: underline;
 }

.boxContain {
    width: 80%;
    height: 50%;
  
    margin-top: 10%;
 
}
.title {
    width: 85%;
    height: 27%;
    /* background-color: green; */
    /* padding: 10px 0; */
}
.title h1 {
    display: inline-block;
    font-family: Lobster, cursive;
    font-size: 69px;
    line-height: 60px;
    font-style: normal;
    font-weight: bold;
    color: #000;
}
.title h1:hover{
    color: #fff;
}
.textIntro {
    width: 100%;
    height: 25%;
    /* background-color: green; */
    margin-top: 55px;
}
.p {
    font-family: MaggiSansRegular, Arial;
    font-size: 20px;
   
    font-style: normal;
    font-weight: 600;
    color: #000000;
    top: 5%;
}
.btns {
    display: flex;
    width: 100%;
    height: 50px;
    /* background-color: green; */
    margin-top: 40px;   
}
.btns button {
    width: 28%;
    height: 100%;
    /* border: 1px solid #888; */
    border-radius: 20px;
    float: left;
    background-color: green;
    font-family:   MaggiSansRegular, Arial;
    font-size: 15px;
   top: 7em;
    font-style: normal;
    font-weight: 700;
    color: #000000;
    cursor: pointer;
   
}
button.width {
    margin-left: 16px;
    background-color: #000;
    color: #fff;
}
.icon{
  color: #000;
   font-size: 30px;
 }
 .icons{
  position: relative;
  margin-left: 180px;
  font-size: 20px;
  bottom: 0.1em;
  cursor: pointer;
 }
/*
==============================================
=============================================
*/
.paragraph {
  font-size: 20px;
  font-family:   MaggiSansRegular, Arial;
  font-style: normal;
  color: #000000;
  top: 10%;
}

.number{
    overflow: hidden;
    margin-top: 20%;
    width: 100%;
    height: 100%;
    margin: auto;
    /* background-color: gold; */
    margin-left: 2%;
}
.h1 {
    display: inline-block;
    font-family: Lobster, cursive;
    font-size: 69px;
    line-height: 60px;
    font-style: normal;
    font-weight: bold;
    color: #000;
    margin-top:6%;
}
.para {
    margin-left: 20%;
    font-size: 20px;
    font-family:   MaggiSansRegular, Arial;
    font-style: normal;
    color: #000000;
    top: 10%;
}

.hero {
    overflow: hidden;
    /* height: 400vh; */
    width: 100%;
    color: #fff;
    margin-top: 100px;
    justify-content: center;
    display: grid;
    gap: 1em;
    /* padding: 1em; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    flex-direction: column;
    /* margin-left: 10%; */
  }
  .line {
    width: 100%;
    /* border: 2px solid/ black; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;
   
  }
  .imgBox {
    height: 300px;
    width: 80%;
    background-color: transparent;
    /* columns: 2; */
    /* border: 1px solid black; */
    overflow: hidden;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  .imgBox:hover{
    transform: skew(2.05);
     transform: scale(1.1) rotate(5deg);
  filter: brightness(1.1);
  }
 
  .container {
    overflow: hidden;
    background-image: url("/box2.png");
    background-size: cover;
    background-position: center;
  margin-top: 10%;
    padding: 50px;
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;
  }
  .lineText {
    width: 100%;
    /* border: 2px solid/ black; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;
    height: 700px;
    margin-bottom: 20%
  }

  .img {
    height: 900px;
    width: 35%;
    margin-left: 30%;
    background-color: gainsboro;
    /* columns: 2; */
    /* border: 1px solid black; */
    overflow: hidden;
    object-fit: cover;
    ;
  }
  .h2 {
    display: inline-block;
    font-family: Lobster, cursive;
    font-size: 55px;
    line-height: 60px;
    font-style: normal;
    font-weight: bold;
    color: #000;
    margin-left: 5%;
}
.one{
    margin-left: 8%;
    font-size: 20px;
    font-family:   MaggiSansRegular, Arial;
    font-style: normal;
    color: #000000;
    margin-top: 7%;
  }
 .button {
    background-color: #fff;
    border: none;
    color: #000;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
   border: 1px solid;
    margin-left: 30%;
    font-family:   MaggiSansRegular, Arial;
    width: 160px;
}
.button:hover{
    background-color: #000;
    color: white;
}

/*
=======================
=============================
*/
.lines {
    width: 100%;
    height: 20em;
    display: flex;
    gap: 4em;
    padding: 0.5em;
    display: flex;
  }
  
  .ImgBoxe img{
width: 100%;
height: 100%;
object-fit: cover;
  }
  .ImgBoxe {
    /* background-color: red; */
    overflow: hidden;    border: transparent solid black;
    /* border-radius: 50%; */
    width: 300px; /* Ajustez la taille selon vos besoins */
    height: 300px; /* Ajustez la taille selon vos besoins */
    border-radius: 10%; /* Cette propriété rendra la box d'image en cercle */
    }
   
   
    /*
=======================================
===========================================
*/

.posts{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 2em;
    align-items: center;
    flex-direction: row-reverse;
    /* background-color: red; */
  }
  .previewImage{
    width: 30em;
    height: 30em;
    /* border: 1px solid black; */
    margin-left: 5%;
    border-radius: (var(--media-radius) - var(--media-border-width))
  
  }
  .span{
    color: gold;
    margin-top: 3em;
  }
  .boxes{
    display: flex;
    align-items: center;
    gap: 2em;
    height: 30em;
    background-color: gainsboro;
  }
  .leftPosts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    /* height: 70vh; */
    /* background-color: red; */
    padding: 1em;
    /* background-color:purple; */
  }
  .rightPosts{
    width: 30em;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    /* height: 70vh; */
    /* background-color: red; */
    padding: 1em;
    /* background-color:purple; */
  }
  .btn {
    background-color: #fff;
    color: #000;
    padding: 15px;
    width: 250px;
    font-size: 15px;
  border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
   border: 1px solid;
    margin-left: 10%;
    font-family:   MaggiSansRegular, Arial;
}
.btn:hover{
    background-color: #000;
    color: white;
}
  
/* .topButton{
    position: fixed;
    margin-bottom: 3em;
    margin-left: 15px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 19px;
    right: 20px;
    cursor: pointer;
} */
 /*
 =======================
 ========================
 */

.class{
  display: flex;
  align-items: center;
  gap: 2em;
  height: 30em;
  background-color: gainsboro;
} 
 /*
 ==========
 =================
 */
 .main {
    margin-top: 5%;
    background-image: url("/box14.png");
    background-size: cover;
    background-position: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;
  }
  /* .help{
    display: flex;
    overflow: hidden;
  } */
  .two {
    display: flex;
    width: 100%;
    /* border: 2px solid/ black; */
    display: flex;
    /* flex-direction: column; */
    gap: 1em;
    padding: 0.5em;
    height: 700px;
    margin-bottom: 20%
  }

  .Img {
    height: 400px;
    width: 50%;
    background-color: #fff;
    /* border: 1px solid black; */
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 10%;
  }
  .h2 {
    display: inline-block;
    font-family: Lobster, cursive;
    font-size: 69px;
    line-height: 60px;
    font-style: normal;
    font-weight: bold;
    color: #000;
    margin-left: 5%;
}
.one{
    margin-left: 8%;
    font-size: 20px;
    font-family:   MaggiSansRegular, Arial;
    font-style: normal;
    color: #000;
    margin-top: 7%;
  }
 .buttons {
    background-color: #fff;
    border: none;
    color: #000;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
   border: 1px solid;
    margin-left: 10%;
    font-family:   MaggiSansRegular, Arial;
    width: 160px;
}
.buttons:hover{
    background-color: #000;
    color: white;
}
  
.h5 {
  display: inline-block;
  font-family:   MaggiSansRegular, Arial;
  font-size: 40px;
  /* line-height: 60px; */
  font-style: normal;
  font-weight: bold;
  color: #000;
  margin-left: 5%;
}
/*
==============================
===========================
*/
.zero {
  margin-top: 5%;
 margin-left: 10%;
  background-size: cover;
  background-position: center;
  padding: 50px;
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100%;
}
/* .help{
  display: flex;
  overflow: hidden;
} */
.add {
  display: flex;
  width: 100%;
  /* border: 2px solid/ black; */
  display: flex;
  /* flex-direction: column; */
  gap: 1em;
  padding: 0.5em;
  height: 700px;
  margin-bottom: 20%
}

.Image {

margin-right: 2%;
  height: 400px;
  width: 55%;
  margin-bottom: 10%;
}
.four{
  margin-left: 10%;
  font-size: 20px;
  font-family:   MaggiSansRegular, Arial;
  font-style: normal;
  color: #000000;
  margin-top: 7%;
}
.Images {
  flex-direction: column;
  display: flex;

  width: 55%;
  /* background-color: #fff; */
  /* border: 1px solid black; */
  margin-left: 10;

 
}
.logos {
  flex-direction: column;
  margin-left: 5%; 
 
  transition: transform 0.3s ease, filter 0.3s ease;
}
.logos:hover{
  transform: skew(2.05);
   transform: scale(1.1) rotate(5deg);
filter: brightness(1.1);
}

.h1:hover{
  color: goldenrod;
}

.h2:hover{
  color: goldenrod;
}
/*
*/

.embla {
  overflow: hidden;
}
.emblaContainer {
  display: flex;
}
.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
}
